<%inherit file="/home_application/base.html"/>

<%block name="content">
<div class="king-layout2-main mt15" style="width:960px;">
    <form class="form-horizontal">

        <div class="form-group clearfix ">
            <label class="col-sm-3 control-label bk-lh30 pt0">选择业务：</label>
            <div class="col-sm-9">
                <select id="select-biz" class="form-control bk-valign-top">
                    % for biz in bk_biz_list:
                    <option value="${biz.get('bk_biz_id')}">${biz.get('bk_biz_name')}</option>
                    % endfor
                </select>
            </div>
        </div>

        <div class="form-group clearfix ">
            <label class="col-sm-3 control-label bk-lh30 pt0">输入内网IP：</label>
            <div class="col-sm-9">
                <input type="text" class="form-control bk-valign-top" id="input-ip" placeholder="仅支持内网IP查询"></div>
        </div>

        <div class="form-group">
            <div class="col-sm-7 col-sm-offset-3">
                <input type="button" class="king-btn king-success mr10" id="input-search" value="查询"/>
            </div>
        </div>

    </form>
    <div class="panel panel-default mb0">
        <div class="panel-heading"> 查询结果</div>
        <div class="panel-body">
            <table class="table mb0 pr15 ranger-box2  ">
                <thead>
                <tr>
                    <th style="width: 70px;">#</th>
                    <th>IP</th>
                    <th>Mem/Disk/CPU</th>
                    <th>最后巡检时间</th>
                    <th>大区</th>
                    <th>模块</th>
                    <th>云区域</th>
                    <th>系统类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody-ip">
                % for (index, host) in enumerate(bk_host_list):
                <tr>
                    <td style="width: 70px;">${index}</td>
                    <td>${host.get('bk_host_innerip')}</td>
                    <td class="label-log">${host.get('stat_info', '--')}</td>
                    <td>${host.get('stat_time', '--')}</td>
                    <td>${host.get('bk_set_name')}</td>
                    <td>${host.get('bk_module_name')}</td>
                    <td>${host.get('bk_cloud_name')}</td>
                    <td>${host.get('bk_os_type')}</td>
                    <td>
                        <a data-ip="${host.get('bk_host_innerip')}"
                           data-cloud="${host.get('bk_cloud_id')}"
                           class="btn btn-xs btn-success check">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                        <a data-ip="${host.get('bk_host_innerip')}"
                           data-cloud="${host.get('bk_cloud_id')}"
                           class="btn btn-xs btn-warning check-add">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                        <a data-ip="${host.get('bk_host_innerip')}"
                           data-cloud="${host.get('bk_cloud_id')}"
                           class="btn btn-xs btn-danger check-del">
                            <i class="glyphicon glyphicon-minus"></i>
                        </a>
                    </td>
                </tr>
                % endfor
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 查询主机
        $("#input-search").on('click', function (e) {
            $.get('${SITE_URL}' + 'get_host/', {
                'bk_biz_id': $("#select-biz").val(),
                'ip_filter': $("#input-ip").val(),
            }, function (res) {
                if (res.result) {
                    $("#tbody-ip").html(res.data);
                }
            })
        });

        $("#tbody-ip").on('click', '.check, .check-add, .check-del', function (e) {

            var bk_biz_id = $("#select-biz").val();
            var data = $(this).data();

            // 立即检查
            if ($(this).hasClass("check")) {

                var $tdLog = $(this).parents('tr').children('td:nth-child(3)');
                var $tdLogTime = $(this).parents('tr').children('td:nth-child(4)');

                alert('后台查询中，请稍后...')

                $.post('${SITE_URL}' + 'check_host/', {
                    'bk_biz_id': bk_biz_id,
                    'bk_host_innerip': data.ip,
                    'bk_cloud_id': data.cloud
                }, function (res) {
                    console.log(res);
                    $tdLog.text(res.data.log);
                    $tdLogTime.text(res.data.time);
                    alert(res.message);
                })

            } else if ($(this).hasClass("check-add")) {

                // 添加到检查队列
                $.post('${SITE_URL}' + 'add_check_host/', {
                    'bk_biz_id': bk_biz_id,
                    'bk_host_innerip': data.ip,
                    'bk_cloud_id': data.cloud
                }, function (res) {
                    console.log(res);
                    alert(res.message);
                })


            } else if ($(this).hasClass("check-del")) {
                // 从检查队列移除
                $.post('${SITE_URL}' + 'remove_check_host/', {
                    'bk_biz_id': bk_biz_id,
                    'bk_host_innerip': data.ip,
                    'bk_cloud_id': data.cloud
                }, function (res) {
                    console.log(res);
                    alert(res.message);
                })

            }
        })
    });
</script>
</%block>